header {
  padding: 30px 0;
}

.p-hamburger {
  cursor: pointer;
}

.p-hamburger span {
  width: 32px;
  height: 5px;
  background-color: #00000000;
  border: 1px solid #000000;
  display: block;
  margin-bottom: 4px;
}
.p-hamburger span:last-child {
  margin-bottom: 5px;
}

.p-hamburger span:nth-child(2) {
  width: 20px;
}

header ul {
  display: flex;
  align-items: center;
  font-family: "Greyst";
  text-decoration: none;
  text-transform: capitalize;
  padding: 0;
  margin: 0;
  li {
    padding: 0 40px;
    img {
      margin-top: -5px;
    }
    a {
      text-decoration: none;
      text-transform: capitalize;
      color: #ffd301;
      transition: all ease-in 0.1s;
      font-size: 33px;
      font-weight: 900;
      position: relative;
    }
    a:hover {
      -webkit-text-stroke-width: 0.1px;
      -webkit-text-stroke-color: #ffd301;
      color: #ffd50000;
      transition: all ease-in 0.1s;
    }
  }
  // li:hover{
  //   -webkit-text-stroke-width: 0.1px ;
  //   -webkit-text-stroke-color: #000000 ;
  //   color: #ffffff;
  // }
  li:first-child {
    padding-left: 0;
  }
  li:last-child {
    padding-right: 0;
  }
}
