<header>
  <div class="container">
    <div class="row">
      <div class="col-sm-12 p-flex p-flex-align-center p-flex-justify-sb">
        <ul>
          <li class="p-hamburger">
            <span></span>
            <span></span>
            <span></span>
          </li>
          <li>
            <img
              src="../../assets/images/i-search.png"
              alt="search icon"
              width="30px"
            />
          </li>
        </ul>
        <ul class="nav-menu">
          <li>
            <a href="#" [routerLink]="['/']">Home</a>
          </li>
          <li>
            <a href="#" [routerLink]="['/']">About Me</a>
          </li>
          <li>
            <a href="#" [routerLink]="['/']">Skills</a>
          </li>
          <li>
            <a href="#" [routerLink]="['/']">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
